# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# AI Skills
.agent/skills
.commandcode

# Tests
/tests

# Node
node_modules/
dist/
build/
.next/

# Go
/agent/bin
/agent/obj
*.exe
*.exe~
*.dll
*.so
*.dylib
/agent/config.json

# Docker
.docker/

# OS Files
.DS_Store
Thumbs.db

# Markdown Docs
/*.md
!README.md
